@use '../helpers' as *;
body{
    background-color: black;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}
.header {
    position: fixed; /* фиксируем */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #000; /* или твой цвет */
    color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* опционально — тень */
}
.main{
    margin-top: 96px;
}